{% extends 'study/base.html' %}

{% block content %}
    <div class="row" style="margin: 30px">
        <div class="col-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    Смена пароля
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'users:change_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Сохранить новый пароль</button>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                </div>
                <div class="card-footer">
                    <a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' %}">Отмена</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}