{% extends 'study/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Восстановление пароля
                    </h3>
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" name="email" class="form-control" id="email"
                                   placeholder="Введите email"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-primary">Восстановить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}